.icon-img {
    width: 30%;
}

.botones-contenedor {
    padding: 2rem;
    width: 100%;
}

.botones {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}
@media (min-width: 768px) {
    .botones {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }
}

.contacto {
    display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        gap: 1rem;
}

.contenedor-educacion {
    display: flex;
        justify-content: center;
}